.hidden{
  visibility:hidden;
}
.green{
  background-color:green;
}
.red{
  background-color:red;
}
.visibleAnimation{
  -webkit-animation: pulsate 1s ease-out;
  animation: pulsate 0.3s ease-out;
  animation-iteration-count: 2;
}


#instructions.rotation {
    -webkit-animation: rotation 1s forwards;
}
@-webkit-keyframes rotation {
    from {
        -webkit-transform:rotate(0deg);
    }
    to {
        -webkit-transform:rotate(-360deg);
    }
}
@-webkit-keyframes pulsate {
    0% {
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    25% {
      -webkit-transform: scale(0.8, 0.8);
      transform: scale(0.8, 0.8);
    }
    50% {
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    75% {
      -webkit-transform: scale(1.2, 1.2);
      transform: scale(1.2, 1.2);
    }
    100% {
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
    }
}

@-webkit-keyframes fade-out {
		0%   { opacity: 1; }
		75% { opacity: 0; }
		100% { opacity: 0; visibility: hidden;}
}

.on {
		-webkit-animation: pulsate 1s ease-out;
    animation: pulsate 0.3s ease-out;
    animation-iteration-count: 2;

		/*-webkit-animation-name: fade-out;
	  -webkit-animation-duration: 2s;
	  -webkit-animation-iteration-count: 1;
	  -webkit-animation-timing-function: linear;
	  -webkit-animation-delay: 2s;*/

}



body{
	background-color: #DCDCDC;
}

#postResultButton{
    /*visibility: hidden;*/
}
#postResult{
    /*visibility: hidden;*/
    width: 30%;
}

#multiplierandpoints {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    background-image: url("../Images/christmas-decoration.jpg");
		/*background-color: yellow;*/
		width: 30%;
		margin-left: 128px;
		border-radius: 5px;
    color:white;
		height: 180px;
		font-size: 20px;
		margin-top: 48px;
		padding: 4px;
		float:left;
}

#options {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    background-image: url("../Images/christmas-decoration.jpg");
		background-color: yellow;
		width: 45%;
    color:white;
		margin-right: 128px;
		border-radius: 5px;
		height: 300px;
		font-size: 25px;
		margin-top: 48px;
		padding: 4px;
		float: right;
}

#message{
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
		width: 80%;
		text-align: center;
		height: 20%;
		margin-left: auto;
		margin-right: auto;
		/*background-color: blue;*/
		border-radius: 5px;
		font-size: 17px;
		color: white;
}
input{
		width:20px;
		height:20px;
}

#nav {
    padding: 0;
}

#nav li {
    display: inline;
    padding: 2px;
}

#nav li a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

#nav li a:hover {
    background-color: orange;
}
#content{
  background-image: url("../Images/Christmas-background.jpg");
		/*background-color: brown;*/
		margin-top: -11px;
		width: 97%;
		height: 540px;
		margin-left: auto;
		margin-right: auto;
		border-radius: 5px;
}

button {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #d60000;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  float: right;
}

button:hover {
  background: #ff0000;
  text-decoration: none;
}
#buttPic{
		background-image: url("../Images/mute.png");
}
#buttonNext{
	/*visibility:hidden;*/
}
#highscores{
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  border-radius: 5px;
  position:relative;
  left: auto;
  right: auto;
  bottom: 0px;
  top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 500px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  background-image: url("../Images/christmas-decoration.jpg");
  overflow: scroll;
}
